.ti{

    text-align: center;
    color: #00A550; /*some kind of dark nice-to-the-eyes green*/

}

.in{

    color: #00A550;
    text-align: left;

}

p {
                   
    font-size: 18px;

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {

    font-size: 95%;
    text-indent: 40px;
}

/*Hago que pueda esribir el texto de las descripciones a la derecha de la imagen; pero, centrado*/
.parrafo_descripcion {

    display: flex;

}

.texto_descripcion {

    align-self: flex-start;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;

}

.imagen_descripcion {

    margin-left: 40px;

}
